@import "tailwindcss";
<<<<<<< HEAD
@plugin "daisyui" {
    themes: light --default;    
}

:root {
    --color-primary: #F04248;
}
=======
>>>>>>> c6f7e7e45afff5a8faa0b54cf55474f3b9d9e069

@font-face {
    font-family: 'Yekan';
    src: local('Yekan'), url(./assets/fonts/Yekan.ttf) format('truetype');
}

@theme {
    --font-yekan: "Yekan", sans-serif;
<<<<<<< HEAD
}

=======
    --color-red: #F04248;
}
>>>>>>> c6f7e7e45afff5a8faa0b54cf55474f3b9d9e069
